<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_group_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{1093,607},{12,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_lobby_update_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{330,330}</string>
                <key>textureRect</key>
                <string>{{691,329},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_lobby_update_particle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1022,607},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_lobby_update_particle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1058,607},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1121,327}</string>
                <key>spriteSourceSize</key>
                <string>{1121,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{1121,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1022,329},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_optionBar_show_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,374}</string>
                <key>spriteSourceSize</key>
                <string>{689,374}</string>
                <key>textureRect</key>
                <string>{{1,329},{689,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images1.png</string>
            <key>size</key>
            <string>{1300,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3db6649c52249fafc358d53cd754080:a279744db9da62223d0b967e03e967a6:d582731ed7a5d5c31576d758b704aec7$</string>
            <key>textureFileName</key>
            <string>images1.png</string>
        </dict>
    </dict>
</plist>
