<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>enemy</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 51.00000,-18.00000 }</string>
                                <string>{ 36.00000,-19.00000 }</string>
                                <string>{ 34.00000,21.00000 }</string>
                                <string>{ 51.00000,19.00000 }</string>
                                <string>{ 65.00000,-2.00000 }</string>
                            </array>
                            <array>
                                <string>{ 19.00000,51.00000 }</string>
                                <string>{ 19.00000,36.00000 }</string>
                                <string>{ -21.00000,34.00000 }</string>
                                <string>{ -19.00000,51.00000 }</string>
                                <string>{ 2.00000,65.00000 }</string>
                            </array>
                            <array>
                                <string>{ -17.00000,-53.00000 }</string>
                                <string>{ -19.00000,-36.00000 }</string>
                                <string>{ 21.00000,-34.00000 }</string>
                                <string>{ 19.00000,-51.00000 }</string>
                                <string>{ -2.00000,-65.00000 }</string>
                            </array>
                            <array>
                                <string>{ -54.00000,16.00000 }</string>
                                <string>{ -36.00000,19.00000 }</string>
                                <string>{ -34.00000,-21.00000 }</string>
                                <string>{ -51.00000,-19.00000 }</string>
                                <string>{ -65.00000,2.00000 }</string>
                            </array>
                            <array>
                                <string>{ 34.00000,21.00000 }</string>
                                <string>{ 36.00000,-19.00000 }</string>
                                <string>{ 21.00000,-34.00000 }</string>
                                <string>{ -34.00000,-21.00000 }</string>
                                <string>{ -36.00000,19.00000 }</string>
                                <string>{ -21.00000,34.00000 }</string>
                                <string>{ 19.00000,36.00000 }</string>
                            </array>
                            <array>
                                <string>{ -34.00000,-21.00000 }</string>
                                <string>{ 21.00000,-34.00000 }</string>
                                <string>{ -19.00000,-36.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>enemy_02</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50400 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -42.00000,-18.50000 }</string>
                                <string>{ 44.00000,17.50000 }</string>
                                <string>{ 42.00000,-18.50000 }</string>
                                <string>{ 0.00000,-57.50000 }</string>
                            </array>
                            <array>
                                <string>{ 44.00000,17.50000 }</string>
                                <string>{ -42.00000,-18.50000 }</string>
                                <string>{ -50.00000,-20.50000 }</string>
                                <string>{ -41.00000,19.50000 }</string>
                                <string>{ 0.00000,57.50000 }</string>
                            </array>
                            <array>
                                <string>{ 49.00000,-21.50000 }</string>
                                <string>{ 42.00000,-18.50000 }</string>
                                <string>{ 44.00000,17.50000 }</string>
                                <string>{ 50.00000,21.50000 }</string>
                                <string>{ 65.00000,7.50000 }</string>
                                <string>{ 65.00000,-7.50000 }</string>
                            </array>
                            <array>
                                <string>{ -50.00000,22.50000 }</string>
                                <string>{ -41.00000,19.50000 }</string>
                                <string>{ -50.00000,-20.50000 }</string>
                                <string>{ -65.00000,-5.50000 }</string>
                                <string>{ -65.00000,8.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>enemy_02_child</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>CIRCLE</string>
                        
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>31.016</real>
                            <key>position</key>
                            <string>{ 0.000,0.000 }</string>
                        </dict>
                        
                    </dict>

                </array>
            </dict>

            <key>enemy_bullet</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 3.00000,13.00000 }</string>
                                <string>{ 16.00000,4.00000 }</string>
                                <string>{ 18.00000,-3.00000 }</string>
                                <string>{ -9.00000,0.00000 }</string>
                                <string>{ -18.00000,16.00000 }</string>
                            </array>
                            <array>
                                <string>{ -9.00000,0.00000 }</string>
                                <string>{ 18.00000,-3.00000 }</string>
                                <string>{ -6.00000,-16.00000 }</string>
                                <string>{ -18.00000,-16.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>enemy_bullet_02</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 0.00000,-11.00000 }</string>
                                <string>{ 1.00000,12.00000 }</string>
                                <string>{ 12.00000,0.00000 }</string>
                                <string>{ 11.00000,-15.00000 }</string>
                                <string>{ 0.00000,-18.00000 }</string>
                            </array>
                            <array>
                                <string>{ 18.00000,0.00000 }</string>
                                <string>{ 12.00000,0.00000 }</string>
                                <string>{ 1.00000,12.00000 }</string>
                                <string>{ 15.00000,11.00000 }</string>
                            </array>
                            <array>
                                <string>{ 0.00000,18.00000 }</string>
                                <string>{ 1.00000,12.00000 }</string>
                                <string>{ 0.00000,-11.00000 }</string>
                                <string>{ -3.00000,-13.00000 }</string>
                                <string>{ -11.00000,-13.00000 }</string>
                                <string>{ -12.00000,1.00000 }</string>
                                <string>{ -11.00000,14.00000 }</string>
                            </array>
                            <array>
                                <string>{ -12.00000,1.00000 }</string>
                                <string>{ -11.00000,-13.00000 }</string>
                                <string>{ -18.00000,0.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>exp</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49044 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 1.00000,20.00000 }</string>
                                <string>{ 20.00000,-1.00000 }</string>
                                <string>{ 0.00000,-20.00000 }</string>
                                <string>{ -20.00000,1.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>hero</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 26.00000,-27.00000 }</string>
                                <string>{ 26.00000,26.00000 }</string>
                                <string>{ 70.00000,-2.00000 }</string>
                            </array>
                            <array>
                                <string>{ -10.00000,-95.00000 }</string>
                                <string>{ -66.00000,-68.00000 }</string>
                                <string>{ -56.00000,-65.00000 }</string>
                                <string>{ 2.00000,-82.00000 }</string>
                                <string>{ 9.00000,-95.00000 }</string>
                            </array>
                            <array>
                                <string>{ -67.00000,69.00000 }</string>
                                <string>{ -19.00000,91.00000 }</string>
                                <string>{ 2.00000,81.00000 }</string>
                                <string>{ -58.00000,65.00000 }</string>
                                <string>{ -66.00000,65.00000 }</string>
                            </array>
                            <array>
                                <string>{ 2.00000,81.00000 }</string>
                                <string>{ -19.00000,91.00000 }</string>
                                <string>{ 5.00000,97.00000 }</string>
                                <string>{ 7.00000,90.00000 }</string>
                            </array>
                            <array>
                                <string>{ 26.00000,-27.00000 }</string>
                                <string>{ 2.00000,-82.00000 }</string>
                                <string>{ -49.00000,-32.00000 }</string>
                                <string>{ -49.00000,28.00000 }</string>
                                <string>{ 2.00000,81.00000 }</string>
                                <string>{ 26.00000,26.00000 }</string>
                            </array>
                            <array>
                                <string>{ -49.00000,28.00000 }</string>
                                <string>{ -49.00000,-32.00000 }</string>
                                <string>{ -59.00000,-26.00000 }</string>
                                <string>{ -59.00000,23.00000 }</string>
                            </array>
                            <array>
                                <string>{ 2.00000,81.00000 }</string>
                                <string>{ -49.00000,28.00000 }</string>
                                <string>{ -58.00000,65.00000 }</string>
                            </array>
                            <array>
                                <string>{ 2.00000,-82.00000 }</string>
                                <string>{ -56.00000,-65.00000 }</string>
                                <string>{ -49.00000,-32.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>hero_bullet</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 3.00000,13.00000 }</string>
                                <string>{ 16.00000,4.00000 }</string>
                                <string>{ 18.00000,-3.00000 }</string>
                                <string>{ -9.00000,0.00000 }</string>
                                <string>{ -18.00000,16.00000 }</string>
                            </array>
                            <array>
                                <string>{ -9.00000,0.00000 }</string>
                                <string>{ 18.00000,-3.00000 }</string>
                                <string>{ -6.00000,-16.00000 }</string>
                                <string>{ -18.00000,-16.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>skill_shield</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50200,0.50200 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>CIRCLE</string>
                        
                        <key>circle</key>
                        <dict>
                            <key>radius</key>
                            <real>132.684</real>
                            <key>position</key>
                            <string>{ 0.937,-0.472 }</string>
                        </dict>
                        
                    </dict>

                </array>
            </dict>

            <key>hero_skill_bullet</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.51200,0.48800 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>1</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -9.00000,20.00000 }</string>
                                <string>{ 9.00000,-20.00000 }</string>
                                <string>{ -9.00000,-21.00000 }</string>
                                <string>{ -21.00000,8.00000 }</string>
                                <string>{ -27.00000,27.00000 }</string>
                            </array>
                            <array>
                                <string>{ -21.00000,8.00000 }</string>
                                <string>{ -21.00000,-10.00000 }</string>
                                <string>{ -40.00000,-1.00000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,8.00000 }</string>
                                <string>{ 9.00000,20.00000 }</string>
                                <string>{ 28.00000,27.00000 }</string>
                            </array>
                            <array>
                                <string>{ -21.00000,-10.00000 }</string>
                                <string>{ -9.00000,-21.00000 }</string>
                                <string>{ -28.00000,-28.00000 }</string>
                            </array>
                            <array>
                                <string>{ 9.00000,-20.00000 }</string>
                                <string>{ -9.00000,20.00000 }</string>
                                <string>{ 9.00000,20.00000 }</string>
                                <string>{ 21.00000,-8.00000 }</string>
                                <string>{ 28.00000,-28.00000 }</string>
                            </array>
                            <array>
                                <string>{ -9.00000,-21.00000 }</string>
                                <string>{ 9.00000,-20.00000 }</string>
                                <string>{ 0.00000,-41.00000 }</string>
                            </array>
                            <array>
                                <string>{ 9.00000,20.00000 }</string>
                                <string>{ -9.00000,20.00000 }</string>
                                <string>{ 0.00000,41.00000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,-8.00000 }</string>
                                <string>{ 21.00000,8.00000 }</string>
                                <string>{ 40.00000,0.00000 }</string>
                            </array>
                            <array>
                                <string>{ -21.00000,8.00000 }</string>
                                <string>{ -9.00000,-21.00000 }</string>
                                <string>{ -21.00000,-10.00000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,-8.00000 }</string>
                                <string>{ 9.00000,20.00000 }</string>
                                <string>{ 21.00000,8.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




